<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="/bootstrap3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap3/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/blog.css">
  <script src="/bootstrap3/js/jquery-1.11.2.min.js"></script>
  <script src="/bootstrap3/js/bootstrap.min.js"></script>
  <title></title>
  <script type="text/javascript">
      function changeClass(obj) {
          var li = obj.parentNode; //获取父节点
          li.className = "active";
      }
  </script>
  <style type="text/css">
    body{
      padding-top:60px;
      padding-bottom:40px;
      background-color: #F5F5F5;
      font-family: microsoft yahei;
    }
  </style>
</head>

<body>

<div class="container" style="width: 1200px">

  <div class="row">
    <!--<div th:insert="head::header"></div>-->
    <div th:insert="~{foreground/common/head::header}"></div>
  </div>

  <div class="row" style="padding-top: 20px">
    <!--<div th:insert="menu::menu"></div>-->
    <div th:insert="~{foreground/common/menu::menu}"></div>
  </div>

  <div class="row">
    <div class="col-xs-9">
      <!--<div th:insert="~{commonPage}"></div>-->
      <div th:insert="~{foreground/blog/blogList::blogList}"></div>
    </div>
    <div class="col-xs-3">
      <div th:insert="~{foreground/blog/rightList::rightList}"></div>
    </div>
  </div>

  <div class="row">
    <!--<div th:insert="footer::copy"></div>-->
    <div th:insert="~{foreground/common/footer::copy}"></div>
  </div>


</div>

<script type="javascript">
  window.onload=function (ev) {
      window._bd_share_config = {
          "common" : {
              "bdSnsKey" : {},
              "bdText" : "",
              "bdMini" : "2",
              "bdMiniList" : false,
              "bdPic" : "",
              "bdStyle" : "0",
              "bdSize" : "32"
          },
          "share" : {},
          "image" : {
              "viewList" : [ "weixin", "tsina", "qzone", "tieba", "renren",
                  "linkedin" ],
              "viewText" : "分享到：",
              "viewSize" : "24"
          },
          "selectShare" : {
              "bdContainerClass" : null,
              "bdSelectMiniList" : [ "weixin", "tsina", "qzone", "tieba",
                  "renren", "linkedin" ]
          }
      };
  }
</script>
</body>
</html>
